doctype html
html(lang='en')
  head
    title 5 A Side
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/themes/redmond/jquery-ui.css')


  body
    block content

  link(rel='stylesheet', type='text/css', href='bower_components/jquery/src/jquery.timepicker.css')
  script(type='text/javascript', src='bower_components/jquery/src/jquery.timepicker.js')
  script(type='text/javascript', src='/javascripts/controller.js')
  script(type='text/javascript', src='/javascripts/app.js')
