doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(scr='bower_components/pickadate/lib/picker.js')
    script(scr='bower_components/pickadates/lib/picker.date.js')
    script(scr='javascripts/app.js')
    script(scr='javascripts/controller.js')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-resource/angular-resource.js')
