doctype html
html(lang='en')
  head
    title 5 A Side
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')

  body

    block content
  script(src='bower_components/pickadate/picker.js')
  script(src='bower_components/pickadate/picker.time.js')
  script(type='text/javascript', src='/javascripts/controller.js')
  script(type='text/javascript', src='/javascripts/app.js')
